
  
  #header {
   
   background: none; 
    padding-top: 0px;
    margin-top: 40px;
  
  }
  
  .em-standard {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
  }
  
  .em-featured {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
  }
  
  @media (max-width: 500px) {
      .em-featured {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
      }
  }
  
  #top-header {
      background: rgb(0, 170, 255);
    position: fixed;
    width: 100%;
   
    
    z-index: 9000;
     left: 0;
    top: 0;
   
    border-top: 0;
    
    
  }
  
  #emergency-response-opt {
      
      max-width: 1140px;
      margin: 0 auto;
      padding: 10px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
      border-radius: 20px;
  
      font-family: 'arial';
  }
  
  #emergency-response-opt .txt {
    display: flex;
    align-items: center;
  }
  
  
  #emergency-response-opt p {
      font-size: 18px;
      margin-bottom: 0;
      color: #181818;
      line-height: 50px;
    margin-right: 10px;
  }
  
  #emergency-response-opt span {
   color:#E70052; 
    font-weight: bold;
    border: 1px solid #E70052;
    padding: 5px 10px;
    border-radius: 8px;
    white-space: nowrap;
  }
  
  #emergency-response-opt p:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 0;
  }
  
  #emergency-response-opt .emergency_header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  @media (max-width: 500px) {
      #emergency-response-opt .emergency_header {
          text-align: center;
      }
  }
  
  #emergency-response-opt img {
      width: 100%;
      height: auto;
  }
  
  #emergency-response-opt .emgergency-image {
      width: 35%;
      margin-right: 20px;
  }
  
  @media (max-width: 500px) {
      #emergency-response .emgergency-image {
          width: 100%;
          margin-bottom: 20px;
      }
  }
  
  #emergency-response-opt .txt.full {
      width: 65%;
  }
  
  @media (max-width: 500px) {
      #emergency-response .txt.full {
          width: 100%;
      }
  }
  
  #emergency-response-opt .btn {
      text-transform: uppercase;
      text-decoration: none;
      padding: 12px 20px;
      border-radius: 10px;
      font-weight: bold;
      letter-spacing: 1px;
      display: inline-block;
      margin-top: 15px;
  }
  
  #emergency-response-opt .btn-donate {
      color: white;
      background: #ff1d34;
  }
  
  #emergency-response-opt .circle {
      margin-right: 15px;
  }
  
  #emergency-response-opt .circle .circle-wrapper {
      height: 12px;
      width: 12px;
      background: #0C884A;
      border-radius: 50px;
      display: block;
  }
  
  .pulsate-fwd {
      -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
      animation: pulsate-fwd 1.5s ease-in-out infinite both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2018-10-2 10:34:8
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  /**
   * ----------------------------------------
   * animation pulsate-fwd
   * ----------------------------------------
   */
  @-webkit-keyframes pulsate-fwd {
      0% {
          -webkit-transform: scale(1);
          transform: scale(1);
      }
      
      50% {
          -webkit-transform: scale(2);
          transform: scale(2);
      }
      
      100% {
          -webkit-transform: scale(1.4);
          transform: scale(1.4);
      }
  }
  
  @keyframes pulsate-fwd {
      0% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-box-shadow: 0 0 0 0 rgba(12,136,74,0.6);
      }
      
      50% {
          -webkit-transform: scale(1.4);
          transform: scale(1.4);
          -webkit-box-shadow: 0 0 0 10px rgba(12,136,74,0);
      }
      
      100% {
          -webkit-transform: scale(1);
          transform: scale(1);
          -webkit-box-shadow: 0 0 0 0 rgba(12,136,74,0);
      }
  }
  
  .carousel-caption .btn-success {
      background: #0c884a;
  }
  
  @media (max-width: 767px) {
      .intro .jumbotron h1 {
          color: #e70052;
          max-width: 100%;
      }
  }
  @media (max-width: 768px) {
    
      #emergency-response-opt p span {
   color:#E70052; 
    font-weight: bold;
    border: 1px solid #E70052;
    padding: 4px 8px;
    border-radius: 8px;
      margin-top: 4px;
        display: inline-block;
  }
    
    #header {
     margin-top: 70px; 
    }
    
     #emergency-response-opt p {
     font-size: 15px;
     
    }
    
     #emergency-response-opt {
     padding: 10px; 
    }
    
    
  }
  @media (max-width: 450px) {
    
  
    
   #emergency-response-opt p {
     font-size: 13px;
     
    }
    
    #emergency-response-opt {
     padding: 10px 15px; 
    }
    
    #header {
     margin-top: 70px; 
    }
  }
  
  @media (max-width: 320px) {
    #header {
     margin-top: 90px; 
    }
  }
  /* Close button */
  .closebtn {
    position: absolute;
    top: 0px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Change color on mouse-over */
  .closebtn:hover {
    color: lightgrey;
  }